body {
    margin: 0;
    background: #5e81ae;
    text-align: center;
    font-weight: bold;
}

@font-face {
  font-family: "digital-7";
  src: url("./digital-7.ttf")
}

.score-container {
    display: flex;
    justify-content: space-around;
}

.new-game-container {
    display: block;
    margin: 10px auto;
}

#scoreboard {
    background: #1A4E8A;
    width: 500px;
    margin: 50px auto;
    padding: 25px 100px;
    border-radius: 20px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    color: whitesmoke;
    margin: 25px 0 10px;
}

#home-count, #guest-count {
    background: #0c2d53;
    margin: 0;
    padding: 5px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-family: "digital-7";
    font-size: 90px;
    color: #BC223C;
    font-weight: lighter;
}

.score-btn {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

button {
    font-size: 40px;
    font-family: "digital-7";
    text-align: center;
    background: #1A4E8A;
    color: #5e81ae;
    border: 1px solid #5e81ae;
}

#new-game-btn {
  display: block;
  width: 200px;
  height: 60px;
  margin: 0px auto;
}

.increment-btn {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0px auto;
  
}

.glow {
  text-shadow: 0 0 10px yellow, 0 0 20px orange;
}